<html>
<body>
<h1><%= title %></h1>
<table border="1">
    <tr>
        <th align="left">ID</th>
        <th align="left">First Name</th>
        <th align="left">Last Name</th>
    </tr>
    <% users.forEach( user => { %>
        <tr>
            <td><a href="/users/<%=user.id%>"><%=user.id%></a></td>
            <td><%=user.fname%></td>
            <td><%=user.lname%></td>
        </tr>
    <% }) %>
</table>
<div><a href="/users/add">Add User</a></div>
</body>
</html>
